<div class="title">
  <span class="name pull-left"><%= Section.find_by(origin_id: origin_id).name %></span>
  <span class="more pull-right">更多..</span>
</div>
<div class="list">
  <ul>
    <% Section.find_by(origin_id: origin_id).posts.limit(5).each do |post| %>
    <li><%= link_to post.title, post.content %></li>
    <% end %>
  </ul>
</div>