<div class="grid">
  <div class="unit w-3-5 slideshow">
    <img src="http://rosefench.net/news/1396422049.jpg" alt="old man">
  </div>
  <div class="unit w-2-5 flash-news">
    <%= render partial: "news_section", locals: {section_id: 2} %>
  </div>
</div>
<div class="grid gutter">
  <% [1,3,4,5].each do |i| %>
  <div class="unit half">
  <%= render partial: "news_section", locals: {section_id: i} %>
  </div>
  <% if i == 3 %>
</div>
<div class="grid gutter">
  <% end %>
  <% end %>
</div>