$gray: #858585;

body {
  background: url(http://rosefench.net/images/bj.jpg);
}

.container {
  width: 990px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

//banner

.banner {
  overflow: hidden;
  font-size: 12px;
  color: $gray;
  .info {
    padding-top: 3px;
  }
  padding: 5px inherit;
  background-color: #f4f4f4;
  input {
    width: 75px;
    border-radius: 3px;
    @include background-image(linear-gradient(to bottom, #ffffff, #f4f3f1));
    box-shadow: none;
    border: 1px solid #cfcdc5;
    height: 20px;
  }
  #hidden-submit {
    padding: 0;
    margin: 0;
    width: 0;
    visibility: hidden;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

// header
#logo {
  background: url(http://rosefench.net/images/logo.jpg) no-repeat;
  height: 72px;
  a {
    display: block;
    width: 478px;
    height: 72px;
    text-indent: -9000px;
  }
  margin: 10px auto 10px;
}

nav#navbar {
  @include background-image(linear-gradient(#61c23d, #0f951c));
  border: 1px solid RGB(12, 147, 45);
  border-bottom: none;
  border-radius: 5px;
  @include single-box-shadow(#81de45, 1px, 1px, 0, 0, inset);

  padding: 10.5px 0;
  text-align: center;
  a {
    padding: 10px;
    color: white;
    text-shadow: 0 -1px 1px black;
    &:hover { text-decoration: none; }
  }
}

.grid .content.unit { width: 74.65%; }
.grid aside.unit { width: 25.35%; }

// main
main {
  background: RGBA(245, 242, 237, 1);
  border-radius: 5px;
  margin: 10px 0;
  overflow: hidden;
  border: 1px solid white;
  .content {
    padding-left: 10px !important;
    background: white;
    border-radius: 5px;
    @include single-box-shadow($color: #e7e4dd, $hoff: 1px);

    .rslides {
      position: relative;
      list-style: none;
      overflow: hidden;
      width: 100%;
      padding: 0;
      margin: 0;
      @include single-box-shadow;
    }

    .rslides li {
      -webkit-backface-visibility: hidden;
      position: absolute;
      display: none;
      width: 100%;
      left: 0;
      top: 0;
    }

    .rslides li:first-child {
      position: relative;
      display: block;
      float: left;
    }

    .rslides img {
      display: block;
      height: 300px;
      float: left;
      width: 100%;
      border: 0;
    }
    // #slides {
    //   display:none;
    // }
    .title {
      overflow: hidden;
      border-bottom: 2px solid #12951b;
      .name {
        color: #12951b;
        font-size: 16px;
      }
      .more {
        color: $gray;
        font-size: 12px;
      }
    }
    .section-1 {
      .title {
        border-bottom: 1px dashed $gray;
      }
    }

    .list {
      ul { 
        padding-left: 1em;
        list-style: none;
        li {
          font-size: 14px;
          line-height: 2em;
          a {
            color: #323232;
          }
          &::before {
            content: "· ";
            color: #339900;
          }
        }
      }
    }
    .list.dashed {
      li {
        border-bottom: 1px dashed #cbcbcb;
        margin-bottom: 7px;
        padding-right: 10px;
      }
      span {
        font-size: 12px;
        color: $gray;
      }
    }
  }
  aside {
    padding: 10px 20px !important;
    .grid .unit {
      padding: 7px 0;
    }
    h1 {
      font-size: 16px;
      color: #333333;
    }

    label {
      font-size: 14px;
      color: #666;
    }
    select {
      font-size: 12px;
      color: lighten($gray, 20%);
      outline: none;
      text-shadow: 0 1px 0px #fff;
      @include background-image(linear-gradient(#ffffff, #f4f3f1));
      border-radius: 3px;
      box-shadow: 1px 1px 0 #efefef;
      max-width: 100%;
    }
    input[type=submit] {
      background: url(http://rosefench.net/images/search.jpg) no-repeat;
      border: none;
      width: 74px;
      height: 33px;
      text-indent: -9999px;
    }
    ul {
      padding-left: 1em;
      list-style-type: none;
      li {
        &::before {
          content: "◎";
          color: #339900;
          padding-right: 5px;
          font-size: 14px;
        }
        a {
          color: $gray;
          font-size: 14px;
        }
      }
    }
    .sponsor h1 {
      background: url(http://rosefench.net/images/index_29.jpg) no-repeat;
      height: 41px;
      width: 201px;
      text-indent: -9999px;
    }
    .cooperate {
      h1 {
        background: url(http://rosefench.net/images/index_40.jpg) no-repeat;
        height: 41px;
        width: 201px;
        text-indent: -9999px;
      }
      li {
        padding-bottom: 7px;
      }
    }
  }
}



// footeer
.footer {
  margin: 40px auto;
  text-align: center;
  p {
    font-size: 12px;
    color: $gray;
  }
}

// Sign up page

.signup {
  .grid {
    width: 70%;
    margin: auto;
  }
}

// signup page

.field_with_errors {
  color: red;
  input {
    border: 1px solid red;
  }
}

.error-details {
  padding: 20px;
  color: red;
  border: 1px dotted red;
}

.flash {
  float: left;
  width: 15%;
  .success {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    font-size: 12px;
    padding: 15px;
  }
  .error {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    font-size: 12px;
    padding: 15px;
  }
}