body {
  background: url(http://rosefench.net/images/bj.jpg);
}

.container {
  width: 990px;
  margin: auto;
}

// header
#logo {
  background: url(http://rosefench.net/images/logo.jpg) no-repeat;
  height: 72px;
  a {
    display: block;
    width: 478px;
    height: 72px;
    text-indent: -9000px;
  }
  margin: 10px auto 10px;
}

nav#navbar {
  // background-color: HSL(104, 52%, 50%);
  background-image: linear-gradient(to bottom, HSL(104, 52%, 50%), HSL(126, 82%, 32%));
  border: 1px solid RGB(12, 147, 45);
  border-bottom: none;
  border-radius: 5px;
  box-shadow: inset 1px 1px 0 0 RGBA(129, 222, 69, 1);

  padding: 10.5px 0;
  text-align: center;
  a {
    padding: 10px;
    text-decoration: none;
    color: white;
    text-shadow: 0 -1px 1px black;
    &:hover { text-decoration: none; }
  }
}

.grid .content.unit { width: 74.65%; }
.grid aside.unit { width: 25.35%; }

// main
main {
  background: RGBA(245, 242, 237, 1);
  border-radius: 5px;
  margin: 10px 0;
  overflow: hidden;
  border: 1px solid white;
  .content {
    // box-sizing: border-box;
    padding-left: 10px !important;
    background: white;
    // width: 739px;
    // float: left;
    border-radius: 5px;
    box-shadow: 1px 0 0 0 #e7e4dd;

    .slideshow img {
      display: block;
      box-shadow: 1px 1px 3px 2px gray;
      width: 100%;
    }
    .grid.gutter .unit {
      padding: 0 30px;
    }
    .title {
      overflow: hidden;
      border-bottom: 2px solid #12951b;
      .name {
        color: #12951b;
        font-size: 16px;
      }
      .more {
        color: #858585;
        font-size: 12px;
      }
    }
    .flash-news .title {
      border-bottom: 1px dashed #858585;
    }

    .list {
      ul { 
        padding-left: 14px;
        list-style: none;
        li {
          font-size: 14px;
          overflow-x: hidden;
          line-height: 2em;
          a {
            text-decoration: none;
            color: #323232;
          }
          &::before {
            content: "· ";
            color: #339900;
          }
        }
      }

    }
  }
  aside {
    padding-right: 10px !important;
  }

}



// footeer
.footer {
  margin: 40px auto;
  text-align: center;
  p {
    font-size: 12px;
    color: #716c61;
  }
}