body {
  background: url(http://rosefench.net/images/bj.jpg);
}

.container {
  width: 990px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

//banner

.banner {
  overflow: hidden;
  font-size: 12px;
  color: #858585;
  .info {
    padding-top: 3px;
  }
  padding: 5px inherit;
  background-color: #f4f4f4;
  input {
    width: 75px;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #ffffff, #f4f3f1);
    box-shadow: none;
    border: 1px solid #cfcdc5;
    height: 20px;
  }
  #hidden-submit {
    padding: 0;
    margin: 0;
    width: 0;
    visibility: hidden;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

// header
#logo {
  background: url(http://rosefench.net/images/logo.jpg) no-repeat;
  height: 72px;
  a {
    display: block;
    width: 478px;
    height: 72px;
    text-indent: -9000px;
  }
  margin: 10px auto 10px;
}

nav#navbar {
  background-image: linear-gradient(to bottom, HSL(104, 52%, 50%), HSL(126, 82%, 32%));
  border: 1px solid RGB(12, 147, 45);
  border-bottom: none;
  border-radius: 5px;
  box-shadow: inset 1px 1px 0 0 RGBA(129, 222, 69, 1);

  padding: 10.5px 0;
  text-align: center;
  a {
    padding: 10px;
    color: white;
    text-shadow: 0 -1px 1px black;
    &:hover { text-decoration: none; }
  }
}

.grid .content.unit { width: 74.65%; }
.grid aside.unit { width: 25.35%; }

// main
main {
  background: RGBA(245, 242, 237, 1);
  border-radius: 5px;
  margin: 10px 0;
  overflow: hidden;
  border: 1px solid white;
  .content {
    padding-left: 10px !important;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 0 0 0 #e7e4dd;

    .slideshow img {
      display: block;
      box-shadow: 1px 1px 3px 2px gray;
      width: 100%;
    }
    .title {
      overflow: hidden;
      border-bottom: 2px solid #12951b;
      .name {
        color: #12951b;
        font-size: 16px;
      }
      .more {
        color: #858585;
        font-size: 12px;
      }
    }
    .section-1 {
      .title {
        border-bottom: 1px dashed #858585;
      }
    }

    .list {
      ul { 
        padding-left: 1em;
        list-style: none;
        li {
          font-size: 14px;
          line-height: 2em;
          a {
            color: #323232;
          }
          &::before {
            content: "· ";
            color: #339900;
          }
        }
      }
    }
    .list.dashed {
      li {
        border-bottom: 1px dashed #cbcbcb;
        margin-bottom: 7px;
        padding-right: 10px;
      }
      span {
        font-size: 12px;
        color: #858585;
      }
    }
  }
  aside {
    padding: 10px 20px !important;
    .grid .unit {
      padding: 7px 0;
    }
    h1 {
      font-size: 16px;
      color: black;
    }

    label {
      font-size: 14px;
      color: #666;
    }
    select {
      font-size: 12px;
      color: #b9b9b9;
      outline: none;
      text-shadow: 0 1px 0px #fff;
      background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f3f1));
      background: -moz-linear-gradient(top, #bcbcbe, #ffffff);
      border-radius: 3px;
      box-shadow: 1px 1px 0 #efefef;
      max-width: 100%;
    }
    input[type=submit] {
      background: url(http://rosefench.net/images/search.jpg) no-repeat;
      border: none;
      width: 74px;
      height: 33px;
      text-indent: -9999px;
    }
    ul {
      padding-left: 1em;
      list-style-type: none;
      li {
        &::before {
          content: "◎";
          color: #339900;
          padding-right: 5px;
          font-size: 14px;
        }
        a {
          color: #615b49;
          font-size: 14px;
        }
      }
    }
    .sponsor h1 {
      background: url(http://rosefench.net/images/index_29.jpg) no-repeat;
      height: 41px;
      width: 201px;
      text-indent: -9999px;
    }
    .cooperate {
      h1 {
        background: url(http://rosefench.net/images/index_40.jpg) no-repeat;
        height: 41px;
        width: 201px;
        text-indent: -9999px;
      }
      li {
        padding-bottom: 7px;
      }
    }
  }
}



// footeer
.footer {
  margin: 40px auto;
  text-align: center;
  p {
    font-size: 12px;
    color: #716c61;
  }
}

// Sign up page

.signup {
  .grid {
    width: 70%;
    margin: auto;
  }
}

// miscellaneous

.field_with_errors {
  color: red;
  input {
    border: 1px solid red;
  }
}