<div class="banner">
  <div class="container">
    <div class="info pull-left">欢迎访问中国观鸟组织联合行动平台网站！</div>
    <div class="signin pull-right">
      <form id="signin" action="/signin" method="post">
        <label for="username">用户名：</label>
        <input id="username" name="username" type="text">
        <label for="password">密码：</label>
        <input id="password" name="password" type="password">
        <input id="hidden-submit" type="submit" value="Submit">
        <a href="javascript:{}" onclick="document.getElementById('signin').submit();return false;">登录</a> | <a href="/signup">注册</a>
      </form>
    </div>
  </div>
</div>