<aside class="unit">
  <div class="search">
    <form action="">
      <h1>搜索</h1>
      <div class="grid">
        <div class="unit w-1-5">
          <label for="bird">鸟名：</label>
        </div>
        <div class="unit w-4-5">
          <select name="bird" id="bird">
            <option>请选择鸟名</option>
          </select>
        </div>
      </div>
      <div class="city-group">
        <div class="grid">
          <div class="unit w-1-5">
            <label for="place">地名：</label>
          </div>
          <div class="unit w-4-5">
            <div class="grid">
              <div class="unit"><select class="city-select">
                <option value="">请选择省</option>
                <%= options_for_select(ChinaCity.list) %>
              </select></div>
            </div>
            <div class="grid">
              <div class="unit"><select class="city-select">
                <option value="">请选择市</option>
              </select></div>
            </div>
            <div class="grid">
              <div class="unit"><select class="city-select">
                <option value="">请选择地区</option>
              </select></div>
            </div>
            <div class="grid">
              <unit><input type="submit" value="搜索"></unit>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="links">
    <div class="sponsor">
      <h1>资助机构</h1>
      <ul>
        <li><a href="#">阿拉善 SEE 基金会</a></li>
      </ul>
    </div>
    <div class="cooperate">
      <h1>合作机构</h1>
      <ul>
        <li><a href="#">江苏观鸟会</a></li>
        <li><a href="#">安徽观鸟会</a></li>
        <li><a href="#">北京观鸟会</a></li>
        <li><a href="#">常州观鸟会</a></li>
        <li><a href="#">成都观鸟会</a></li>
        <li><a href="#">福建观鸟会</a></li>
        <li><a href="#">东营观鸟会</a></li>
        <li><a href="#">广州学生鸟会</a></li>
        <li><a href="#">河南观鸟会</a></li>
        <li><a href="#">江苏野鸟会</a></li>
        <li><a href="#">盘锦观鸟会</a></li>
        <li><a href="#">秦皇岛观爱鸟协会</a></li>
        <li><a href="#">厦门观鸟会</a></li>
        <li><a href="#">上海野鸟会</a></li>
        <li><a href="#">深圳市观鸟协会</a></li>
        <li><a href="#">天津观鸟会</a></li>
        <li><a href="#">武汉观鸟会</a></li>
      </ul>
    </div>
  </div>
</aside>